* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#table_time {
    width: 100%;
    border-collapse: collapse;
}

#table_time td {
    border: 1px solid rgba(211, 211, 211, 0.763);
    border-bottom: 1px solid #00000034;

}
th {
    border: 1px solid rgb(255, 255, 255);

}

body a {
    text-decoration: none;
}

h1 {
    padding: 20px 0px;
}
header {
    display: flex;
    justify-content: space-between;
}

#intro_app {
    color: rgb(255, 38, 0);
}

nav {
    background-color: rgb(225, 222, 222);
    padding: 5px;
    border-radius: 3px;
    margin-top: 5px;
    display: flex !important;
    justify-content: space-between;
}

.box_green {
    background-color: rgb(53, 169, 53);
    padding: 2px;
    border-radius: 3px;
    color: rgba(240, 248, 255, 0.952);
}

.box:hover {
    opacity: 1;
}
.box_hover:hover {
    background-color: rgb(57, 166, 57);
}

.link_hover:hover {
    text-decoration: underline;
}



th, tbody {

    padding: 5px;
    font-size: 80%;
}

a:hover {
    color: black !important;
    text-decoration: underline;
}

#footer {
    text-align: center;
}

#header_table {
    background-color: 	#99CCFF;
}

#list_student {
    text-align: center
}

#list_student th {
    font-size: 18px;
}