<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>TimeTableController</servlet-name>
        <servlet-class>controller.lecturer.TimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceLecturerController</servlet-name>
        <servlet-class>controller.lecturer.AttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttendanceLecturerController</servlet-name>
        <servlet-class>controller.lecturer.ViewAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAttendanceLecturerController</servlet-name>
        <servlet-class>controller.lecturer.UpdateAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGradeLecturerController</servlet-name>
        <servlet-class>controller.lecturer.ViewGradeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentLecturerController</servlet-name>
        <servlet-class>controller.lecturer.ListStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTableStudentController</servlet-name>
        <servlet-class>controller.student.TimeTableController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttendanceStudentController</servlet-name>
        <servlet-class>controller.student.ViewAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGradeStudentController</servlet-name>
        <servlet-class>controller.student.ViewGradeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeScreenController</servlet-name>
        <servlet-class>controller.home.HomeScreenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeStaffAttendance</servlet-name>
        <servlet-class>controller.home.HomeStaffAttendance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimeTableController</servlet-name>
        <url-pattern>/lecturer/time_table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceLecturerController</servlet-name>
        <url-pattern>/lecturer/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttendanceLecturerController</servlet-name>
        <url-pattern>/lecturer/view_attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttendanceLecturerController</servlet-name>
        <url-pattern>/lecturer/update_attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGradeLecturerController</servlet-name>
        <url-pattern>/lecturer/view_grade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentLecturerController</servlet-name>
        <url-pattern>/lecturer/list_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTableStudentController</servlet-name>
        <url-pattern>/student/time_table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttendanceStudentController</servlet-name>
        <url-pattern>/student/view_attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGradeStudentController</servlet-name>
        <url-pattern>/student/view_grade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeScreenController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeStaffAttendance</servlet-name>
        <url-pattern>/staff_attendance</url-pattern>
    </servlet-mapping>
</web-app>
