* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#table_time {
    width: 100%;
    border-collapse: collapse;
}

#table_time td {
    border: 1px solid rgba(211, 211, 211, 0.763);
    border-bottom: 1px solid #00000034;

}
th {
    border: 1px solid rgb(255, 255, 255);

}

body a {
    text-decoration: none;
}

h1 {
    padding: 20px 0px;
}
header {
    display: flex;
    justify-content: space-between;
}

#intro_app {
    color: rgb(255, 38, 0);
}

nav {
    background-color: rgb(225, 222, 222);
    padding: 5px;
    border-radius: 3px;
    margin-top: 5px;
    display: flex !important;
    justify-content: space-between;
}

.box_green {
    background-color: rgb(53, 169, 53);
    padding: 2px;
    border-radius: 3px;
    color: rgba(240, 248, 255, 0.952);
}

.box_orange {
    font-size: 85%;
    background-color: rgb(232, 126, 60);
    padding: 3px;
    border-radius: 3px;
    color: rgba(240, 248, 255, 0.952);
    opacity: 0.85;
}

.box_grey {
    font-size: 85%;
    background-color: rgb(158, 158, 158);
    padding: 3px;
    border-radius: 3px;
    color: rgba(240, 248, 255, 0.952);
    opacity: 0.85;
}
.box_blue {
    font-size: 85%;
    background-color: rgb(32, 98, 184);
    padding: 3px;
    border-radius: 3px;
    color: rgba(240, 248, 255, 0.952);
    opacity: 0.85;
}
.box:hover {
    opacity: 1;
}
.box_hover:hover {
    background-color: rgb(57, 166, 57);
}

.link_hover:hover {
    text-decoration: underline;
}

#content, #note {
    margin: 0px 10px;
}

#note_detail {
    line-height: 8px;
}

th, tbody {

    padding: 5px;
    font-size: 70%;
}

.scheduling {
    padding: 5px;
    line-height: 19px;
}
a:hover {
    color: black !important;
    text-decoration: underline;
}

#footer {
    text-align: center;
}

.content_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.content_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    border: 1px solid #009879;
    font-weight: bold;
    font-size: 18px;
}

.content_table th {
}


.content_table td {
    padding: 5px 5px;
    font-size: 15px;
}

.content_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content_table_1 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.col-md-4, .col-md-8 {
    padding: 0px;
}


.table_main {
    margin-left: 40px;
}

.gender-options label {
    display: block;
    margin-bottom: 10px;
}

.gender-options input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
}

.gender-options input[type="radio"]:checked + label {
    font-weight: bold;
}
